# Runs linting related jobs.
name: lint
permissions:
  contents: read
on:
  push:
    branches: [main, next]
  pull_request:
    types: [opened, reopened, synchronize]
jobs:
  clippy:
    name: clippy nightly on ubuntu-latest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Clippy
        run: |
          rustup update --no-self-update nightly
          rustup +nightly component add clippy
          cargo +nightly xclippy --features concurrent,executable,metal,testing,with-debug-info,internal -- -Dwarnings -Dclippy::all -Wclippy::redundant_clone
  rustfmt:
    name: rustfmt check nightly on ubuntu-latest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Rustfmt
        run: |
          rustup update --no-self-update nightly
          rustup +nightly component add rustfmt
          make format-check
  doc:
    name: doc stable on ubuntu-latest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build docs
        run: |
          rustup +stable update --no-self-update
          rustup default stable
          make doc
