# Preview releases without publishing
name: Release-plz (dry-run)

permissions:
  contents: read

on:
  push:
    branches: [main, next]

jobs:
  release-plz-dry-run-release:
    name: Release-plz dry-run
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == '0xMiden' }}
    steps:
      - name: Run release-plz dry-run
        uses: ./.github/actions/release-plz
        with:
          dry-run: 'true'