# Publish releases when GitHub releases are created
name: Release-plz (main)

permissions:
  contents: read

on:
  release:
    types: [published]

jobs:
  release-plz-release:
    name: Release-plz release
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == '0xMiden' }}
    steps:
      - name: Run release-plz
        uses: ./.github/actions/release-plz
        with:
          dry-run: 'false'
          ref: main
          verify-main-head: 'true'